<div class="control-section">
  <div class="col-lg-12 content-wrapper">
    <ejs-schedule
      #scheduleObj
      width="100%"
      cssClass="timeline-resource-grouping"
      height="650px"
      [selectedDate]="selectedDate"
      [workDays]="workDays"
      [eventSettings]="eventSettings"
    >
      <e-views>
        <e-view option="TimelineDay"></e-view>
        <!-- <e-view option="TimelineWeek"></e-view>
        <e-view option="TimelineWorkWeek"></e-view>
        <e-view option="TimelineMonth"></e-view> -->
        <e-view option="Agenda"></e-view>
      </e-views>
    </ejs-schedule>
  </div>
</div>
